/* header */
@import url("https://fonts.googleapis.com/css2?family=Shippori+Mincho&display=swap");
/* 本文 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Shippori+Mincho&display=swap");
body {
  background-color: whitesmoke;
  font-family: "Noto Sans JP", sans-serif;
}

.category > div {
  display: none;
  background-color: white;
  padding: 1.2em;
  margin: 2em 0;
}
.category h2,
h1 {
  border-left: 0.5em solid rgb(209, 73, 0);
  margin-top: 0;
}
.left p:nth-of-type(3) {
  margin-bottom: 0;
}
.category div.is-show {
  display: block;
  /* その要素にブロックレベルの特性を与える */
}
header,
footer {
  background-image: url(./images/haikei.jpg);
  background-size: 35px;
  background-repeat: repeat;
  text-align: center;
  color: rgb(255, 253, 253);
}
footer {
  margin-top: 4em;
  padding: 1em;
}
header h1 {
  margin: 0;
  font-family: "Shippori Mincho", serif;
}
main {
  margin: 0 auto;
  width: 85%;
}
select {
  width: 40%;
  background-color: #fefefe;
  margin: 2em 0 0;

  border-color: lightgray;
  padding: 0.7em;
}
header h1 {
  font-size: 1.3em;
  padding: 0.3em 0;
}
/* -------------------------------------------- */
/* ▼タブレット用デザインとして付け足すデザイン */
/* -------------------------------------------- */
@media (min-width: 768px) {
  header h1 {
    font-size: 1.5em;
  }

  select {
    width: 20%;
  }
}
/* ------------------------------------ */
/* ▼PC用デザインとして付け足すデザイン */
/* ------------------------------------ */
@media (min-width: 1024px) {
  main {
    width: 60%;
  }
  .category > div {
    padding: 1.5em;
  }
}
