body {
  background-color: whitesmoke;
}

.category > div {
  display: none;
  background-color: white;
  padding: 1em 0;
  margin: 1em 0;
}
.category h2 {
  margin-left: 1em;
  border-left: 0.5em solid rgb(228, 227, 225);
}
.category p {
  margin-left: 1.5em;
}
.category div.is-show {
  display: block;
  /* その要素にブロックレベルの特性を与える */
}
header {
  background-image: url(./images/haikei7.jpg);
  background-size: 35px;
  background-repeat: repeat;
  text-align: center;
  color: rgb(255, 253, 253);
}
header h1 {
  margin: 0;
}
main {
  margin: 0 auto;
  width: 80%;
}
select {
  background-color: #d6e6a5;
  margin: 1em;
}
